// Palette URL: http://paletton.com/#uid=33j0u0kj+lNpKvzmMqrfRfHd1a- */


// As hex codes */

$color-primary-0: #236467;	// Main Primary color */
$color-primary-1: #67989A;
$color-primary-2: #417E80;
$color-primary-3: #0D4A4D;
$color-primary-4: #003133;

$color-secondary-1-0: #A7383D;	// Main Secondary color (1) */
$color-secondary-1-1: #FBA7AB;
$color-secondary-1-2: #D1686E;
$color-secondary-1-3: #7D151A;
$color-secondary-1-4: #540004;

$color-secondary-2-0: #378B2E;	// Main Secondary color (2) */
$color-secondary-2-1: #92D18B;
$color-secondary-2-2: #5FAE57;
$color-secondary-2-3: #1A6811;
$color-secondary-2-4: #074600;

$color-complement-0: #AA6D39;	// Main Complement color */
$color-complement-1: #FFD1AA;
$color-complement-2: #D49B6A;
$color-complement-3: #804615;
$color-complement-4: #552700;



// As RGBa codes */

$rgba-primary-0: rgba( 35,100,103,1);	// Main Primary color */
$rgba-primary-1: rgba(103,152,154,1);
$rgba-primary-2: rgba( 65,126,128,1);
$rgba-primary-3: rgba( 13, 74, 77,1);
$rgba-primary-4: rgba(  0, 49, 51,1);

$rgba-secondary-1-0: rgba(167, 56, 61,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(251,167,171,1);
$rgba-secondary-1-2: rgba(209,104,110,1);
$rgba-secondary-1-3: rgba(125, 21, 26,1);
$rgba-secondary-1-4: rgba( 84,  0,  4,1);

$rgba-secondary-2-0: rgba( 55,139, 46,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(146,209,139,1);
$rgba-secondary-2-2: rgba( 95,174, 87,1);
$rgba-secondary-2-3: rgba( 26,104, 17,1);
$rgba-secondary-2-4: rgba(  7, 70,  0,1);

$rgba-complement-0: rgba(170,109, 57,1);	// Main Complement color */
$rgba-complement-1: rgba(255,209,170,1);
$rgba-complement-2: rgba(212,155,106,1);
$rgba-complement-3: rgba(128, 70, 21,1);
$rgba-complement-4: rgba( 85, 39,  0,1);

