@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@import 'color';
@import "function";
@import "mixin";

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;

  height: 100%;
  width: 100%;
  background-color: $color-dark-grey;
  color: #a3a3a3;
}



h1, h2, h3, h4, h5 {
  color: #fff;
}

.form-control {
  border: 1px solid $color-primary-1;
  background-color: $color-primary-light;
  color: $color-grey;


  &:focus {
    border-color: $color-primary-1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $rgba-primary-1-05;
    outline: none 0;
  }
}

.context-menu-box {
  position: absolute;

  ul {
    margin: 0;
    padding: 0;
  }

  .context-menu {
    border: 1px solid $color-primary-light;
    font-size: inherit;
    min-width: 200px;
    box-shadow: 2px 2px 8px #626262,-2px -2px 8px #626262;
    li {
      padding: 0.5em;
      text-align: center;
      background-color: $color-primary-light;
      &:hover {
        background-color: $color-primary-light-hover;
      }
    }

    &::after {
      width: 1em;
      height: 1em;
      content: " ";
      border-left: 1em solid transparent;
      border-right: 1em solid transparent;
      border-bottom: 1em solid $color-primary-light;
      position: absolute;
      top: -1em;
    }
  }
}

header {
  padding: 1em 0;
  background: $color-primary-4;
  line-height: 2em;
  div {
    &.headline {
      font-weight: bold;
      padding-left: 2em;
    }
  }
}

.time-tracker-container {
  background-color: $color-primary-1;
  padding: 0;
  float: none;
  margin: 1em auto;

  &.display {
    padding: 1em;
  }

  ul {
    list-style-type: none;
    &.col-group {
      li {
        display: inline-block;
      }
    }
  }
  .form-header {
    padding: 1em;
    border-bottom: 2px solid $color-primary-0;
  }

  .form-body {
    padding: 1em;
    background-color: #dfdfdf;
  }

  .form-footer {
    border-top: 2px solid $color-primary-0;
    padding: 1em;
  }

  .project {
    padding: 1em;
    color: $color-primary-0;
    background-color: $color-primary-light;
    margin: 1em 0;
    font-size: 1.2em;
    clear: both;
    cursor: pointer;
    &:hover {
      background-color: $color-primary-light-hover;
      cursor: pointer;
    }

    .project-label {
      font-size: 6em;
      line-height: 0;
    }
    .project-name {
      font-size: 2em;
      line-height: 3em;
    }
    .project-option {
      a {
        color: $color-primary-3;
        font-size: 2em;
      }

    }
  }

  .session {
    padding: 1em;
    color: $color-primary-0;
    background-color: #d0e5f5;
    margin: 1em 0;
    font-size: 1.2em;


    &.active {
      border: 2px solid $color-primary-3;
    }

    &.selectable {
      &:hover {
        background-color: #d9eeff;
        cursor: pointer;
      }
    }


    .icon {
      border-right: 1px solid $color-primary-3;
    }

    .task-list {
      border: 2px dashed $color-primary-3;
      height: 133px;
      overflow: hidden;
      span {
        &.tag {
          background-color: #417e80;
          color: #fff;
          display: inline-block;
          margin: 0.2em;
          padding: 0.5em;

          a {
            color: inherit;
            cursor: pointer;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    .data {
      height: 100%;
    }
  }
}


.left-inner-addon {
  position: relative;
  input {
    padding-left: 30px;
  }
  i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
  }
}

.right-inner-addon {
  position: relative;
  input {
    padding-right: 30px;
  }
  i {
    position: absolute;
    right: 0;
    padding: 10px 12px;
    pointer-events: none;
  }
}



.login-container {
  h3 {
    text-align: center;
  }
}



.task-container {
  .task-list {
    span {
      padding: 1em;
      margin: 1em;
      background-color: $color-primary-3;

    }
  }
}

.msg {
  padding: 1em;

  ul {
    margin: 0;
  }

  &.error {
    background-color: $color-secondary-1-0;
  }

  &.success {
    background-color: $color-secondary-2-1;
    color: #fff;
  }
}

.btn {
  color: #fff;
  border-radius: 0;

  &:hover {
    color: #fff;
  }
  &:active {
    color: #fff;
  }
  &.btn-success {
    background: $color-primary-4;
    border: $color-primary-2;
  }
  &.btn-info {
    background: $color-primary-2;
    border: none;
  }
  &.btn-danger {
    background: $color-secondary-1-0;
    border: $color-secondary-1-2;
  }
  &.btn-primary {
    background: $color-primary-0;
    border: $color-primary-2;
  }
  &.btn-secondary {
    background: $color-primary-0;
    border: $color-primary-2;
  }
  &.btn-warning {
    background: $color-complement-0;
    border: $color-complement-2;
  }
  &.btn-link {

  }

}