@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@import 'color';
@import "function";
@import "mixin";

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;

  height: 100%;
  width: 100%;
  background-color: $color-dark-grey;
  color: #a3a3a3;
}



h1, h2, h3, h4, h5 {
  text-shadow: 1px 1px 1px #141414;
  color: #fff;
}

.form-control {
  border: 1px solid $color-primary-1;
  background-color: #d0e5f5;
  color: $color-grey;


  &:focus {
    border-color: $color-primary-1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $rgba-primary-1-05;
    outline: none 0;
  }
}


header {
  padding: 1em 0;
  background: $color-primary-4;
  line-height: 2em;
  div {
    &.headline {
      font-weight: bold;
      padding-left: 2em;
    }
  }
}

.time-tracker-container {
  background-color: $color-primary-1;
  border-radius: 10px;
  padding: 0;
  float: none;
  margin: 1em auto;

  &.display {
    padding: 1em;
  }

  ul {
    list-style-type: none;
    &.col-group {
      li {
        display: inline-block;
      }
    }
  }
  .form-header {
    padding: 1em;
    border-bottom: 2px solid $color-primary-0;
  }

  .form-body {
    padding: 1em;
    background-color: #dfdfdf;
  }

  .form-footer {
    border-top: 2px solid $color-primary-0;
    padding: 1em;
  }

  .session-list {
    padding: 1em;
    color: $color-primary-0;
    border-radius: 10px;
    background-color: #d0e5f5;
    margin: 1em 0;
    font-size: 1.2em;
    &.selectable {
      &:hover {
        background-color: #d9eeff;
        cursor: pointer;
      }
    }


    .icon {
      border-right: 1px solid $color-primary-3;
    }
    .task-list {
      border: 2px dashed $color-primary-3;
      border-radius: 5px;
      height: 133px;
    }

    .data {
      height: 100%;
    }
  }

}

.msg {
  border-radius: 5px;
  padding: 1em;

  ul {
    margin: 0;
  }

  &.error {
    background-color: $color-secondary-1-0;
  }

  &.success {
    background-color: $color-secondary-2-1;
    color: #fff;
  }
}

.btn {
  color: #fff;

  &:hover {
    color: #fff;
  }
  &:active {
    color: #fff;
  }
  &.btn-success {
    background: $color-primary-4;
    border: $color-primary-2;
  }
  &.btn-info {
    background: $color-primary-2;
    border: none;
  }
  &.btn-danger {
    background: $color-secondary-1-0;
    border: $color-secondary-1-2;
  }
  &.btn-primary {
    background: $color-primary-0;
    border: $color-primary-2;
  }
  &.btn-secondary {
    background: $color-primary-0;
    border: $color-primary-2;
  }
  &.btn-warning {
    background: $color-complement-0;
    border: $color-complement-2;
  }
  &.btn-link {

  }

}