<div ng-controller="projectController">
    <div class="time-tracker-container display">
        <div>
            <div class="col-xs-4">
                <h2>Project List</h2>
            </div>
            <div class="clearfix"></div>
            <div ng-click="selectProject(project)" class="col-lg-5 project" ng-repeat="project in projectList">
                <div class="project-label col-xs-3">
                    <i class="glyphicon glyphicon-book"></i>
                </div>
                <div class="project-name col-xs-8">
                    {{::project.name}}
                </div>
                <div class="project-option col-xs-1">
                    <a class="btn btn-danger" ng-click="deleteProject(project); $event.stopPropagation();">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <a class="btn btn-success" ng-click="showAddProjectForm = !showAddProjectForm">
                    <i class="glyphicon glyphicon-book"></i>
                    Add New Project
                </a>
            </div>

            <div class="clearfix"></div>
            <div class="col-lg-5" ng-show="showAddProjectForm">
                <fieldset class="form-group">
                    <label for="project-name">Name:</label>
                    <input ng-model="projectName" id="project-name" class="form-control" type="text" value="" placeholder="Project name here..." />
                </fieldset>
                <a class="btn btn-info right" ng-click="addProject()">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Create Project
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>