<div ng-controller="projectDetailController" class="time-tracker-container display">
    <div class="row-fluid">
        <h1>
            {{selectedProject.project.name}}
            <a class="btn btn-info pull-right" href="/project">
                <i class="glyphicon glyphicon-list"></i>
                ProjectList
            </a>
        </h1>
        <h3>~ {{totalAmount}} Hours</h3>
        <div class="row">
            <div class="col-lg-3">
                <fieldset class="right-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input class="form-control" placeholder="Search" type="text" ng-model="timeSearch" />
                </fieldset>
                <datepicker date-format="yyyy-MM-dd">
                    <input placeholder="From" ng-model="dateRange.from" type="text" class="form-control" ng-change="timeFilter()"/>
                </datepicker>
                <datepicker date-format="yyyy-MM-dd">
                    <input placeholder="Till" ng-model="dateRange.till" type="text" class="form-control" ng-change="timeFilter()"/>
                </datepicker>
            </div>
        </div>

        <div
                ng-click="resumeSession(session.id)"
                ng-class="{ selectable: session.endTime == '0000-00-00 00:00:00', active : session.id == selectedProject.currentSession.id}"
                ng-if="session.startTime"
                ng-repeat="session in selectedProject.sessionList | filter : timeSearch"
                class="col-lg-9"
        >
            <session-row
                    delete-session="deleteSession"
                    save-session="saveSession"
                    end-session="endSession"
                    session="session"
            >
            </session-row>
        </div>
        <div class="clearfix"></div>
        <button class="btn btn-success start-session-button" ng-click="startNewSession()">
            <i class="glyphicon glyphicon-time"></i>
            Start
        </button>
    </div>
</div>