<div ng-if="project.id" ng-click="selectProject(project)" ng-class="{'list col-lg-3': setting.listView, 'col-lg-5' : !setting.listView}" class=" project" ng-repeat="project in projectList">
    <div class="project-label col-xs-3">
        <i class="glyphicon glyphicon-book"></i>
    </div>
    <div ng-class="{'col-xs-7': setting.listView, 'col-xs-8' : !setting.listView}"  class="project-name">
        {{::project.name}}
    </div>
    <div ng-class="{'col-xs-2': setting.listView, 'col-xs-1' : !setting.listView}" class="project-option">
        <context-menu menu-list="menuList" context="project"></context-menu>
    </div>
    <div class="clearfix"></div>
</div>